In [3]:
print("hello")

hello

In [8]:
import pymysql as sql

In [9]:
print(dir(sql))

['BINARY', 'Binary', 'Connect', 'Connection', 'DATE', 'DATETIME', 'DBAPISet', 'DataError', 'DatabaseError', 'Date', 'DateFromTicks', 'Error', 'FIELD_TYPE', 'IntegrityError', 'InterfaceError', 'InternalError', 'MySQLError', 'NULL', 'NUMBER', 'NotSupportedError', 'OperationalError', 'ProgrammingError', 'ROWID', 'STRING', 'TIME', 'TIMESTAMP', 'Time', 'TimeFromTicks', 'Timestamp', 'TimestampFromTicks', 'VERSION', 'VERSION_STRING', 'Warning', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_auth', 'apilevel', 'charset', 'connect', 'connections', 'constants', 'converters', 'cursors', 'err', 'get_client_info', 'install_as_MySQLdb', 'optionfile', 'paramstyle', 'protocol', 'sys', 'thread_safe', 'threadsafety', 'times', 'version_info']

In [10]:
db = sql.connect(host="localhost", port=3306, user="root", password="", database="mysql_database")

In [11]:
curs =db.cursor()

In [12]:
curs.execute('select * from users')

1

In [13]:
curs.fetchall()

((1, 'Raj', 'Ahmedabad'),)

In [14]:
id = int(input("Enter A Num"))
print(id)

2

In [15]:
name = input("Enter A Name")
print(name)

Abhishek

In [16]:
city = input("Enter A City")
print(city)

Ahmedabad

In [17]:
query = f'''insert into users(id, name, city) values {id, name, city}'''
curs.execute(query)

print(query)

insert into users(id, name, city) values (2, 'Abhishek', 'Ahmedabad')

In [19]:
curs.execute("select * from users")

2

In [20]:
curs.fetchall()

((1, 'Raj', 'Ahmedabad'), (2, 'Abhishek', 'Ahmedabad'))